{{> header}}
<div id="detailsMovie">
    <h1>Details</h1>
    <div class="movie">
        <h2>{{title}}</h2>
        <img src="{{imageURL}}">
        <p>{{description}}</p>
        <h2>Genres</h2>
        <ul class="genres">
            {{#if genres}}
                <li>{{genres}}</li>
                {{else}}
                <li>No genres!</li>
            {{/if}}
        </ul>
        <p>Available Tickets: {{tickets}}</p>
        <button><a href="#/buy">Buy Ticket</a></button>
    </div>
</div>
{{> footer}}